.navContainer {
  width: 100%;
  background-color: rgba(221, 10, 10, 0.757);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: fixed;
  top: 0;
  z-index: 100;
}

.navSection {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.logo {
  width: 150px;
  height: 30px;
  background-image: url("../../assets/img/logo_sologomas.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.navegation {
  display: flex;
  list-style: none;
  gap: 10px;
}
