.imgSlider {
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image {
  width: 90%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 9px;

}
