.image {
  width: 250px;
  max-width: 250px;
  height: 250px;
  max-height: 250px;
  border-radius: 9px;
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 740px) and (max-width: 1200px) {
  .imgSlider {
    height: 450px;
  }
}
