/* About*/
.mainContainer {
  width: 100vw;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* .aboutContainer {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutSection {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
}

.aboutTitle {
  font-size: 40px;
}

.logoCircle {
  background-image: url("../assets/img/logo-circle.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100px;
  height: 100px;
} */

/*Products section*/

/* .productsContainer {
  width: 100vw;
  background-color: var(--redbg);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 50px 0;
}

.productsSection {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
} */

/*Gallery*/
.GaleryMainContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}
.galeryContainer {
  width: 95%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 50px 0;
  position: relative;
  border-radius: 4px;
}

.overlay {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #000000;
  opacity: 0.75;
  border-radius: 4px;
}

.gallerySection {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  z-index: 1;
}

.galleryTitle {
  font-size: 28px;
  color: var(--yellowTitle);
}

.galleryDescription {
  color: lightgray;
}

.gallery {
  width: 100%;
  color: white;
}

/*Contact*/

.contactContainer {
  width: 100vw;
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactSection {
  width: 60%;
  display: flex;
  gap: 20px;
}

.contactInfoContainer {
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contactTitle {
  font-size: 35px;
}

.contactLine {
  width: 70px;
  height: 3px;
  background-color: var(--redbg);
}
.contactMap {
  width: 45%;
  height: 300px;
  background-color: rebeccapurple;
}

@media (max-width: 720px) {
  .galleryCointainer {
    height: auto;
  }
  .gallerySection {
    justify-content: initial;
  }
}
